<div class="bag-card"><!--One card-->
  <img class={{class}} width="200" height="200" src={{src}}
       alt={{alt}}/>
  <div class="titles">
    <h3>{{name}}</h3>
    <p class="font-light font-size-24 mt-0">{{type}}</p>
  </div>
  <div class="count">
    <img class="my-auto mx-1 rotate-180" src="icon/count-arrow-horizontal.svg" alt/>
    <span>{{count}}</span>
    <img class="my-auto mx-1 " src="icon/count-arrow-horizontal.svg" alt/>
  </div>
  <div class="price d-flex my-auto">
    <b class="font-size-24">£{{price}}</b>
    <span class="sale-price">{{sale_price}}</span>
  </div>
</div>