<div class="instagram-container">
  <div class="instagram-grid w-100">
    <img class="tall-first instagram-1"
         src="image/home/instagram/image1.jpg"
         alt="Instagram middle vertical photo 1"/>
    <img class="candle-in-hands" src="image/home/instagram/image2.jpg" alt="Candle in hands"/>
    <img class="instagram-3" src="image/home/instagram/image3.jpg" alt="Candle on white table"/>
    <img class="long instagram-4" src="image/home/instagram/image4.jpg" alt="Candles on table in room"/>
    <img class="tall-second instagram-7"
         src="image/home/instagram/image7.jpg"
         alt="Two white and one black candles on table"/>
    <img class="instagram-5"
         src="image/home/instagram/image5.jpg"
         alt="Brown, black and teal candles on white table"/>
    <img class="instagram-6"
         src="image/home/instagram/image6.jpg"
         width="170"
         height="170"
         alt="Three candles in bathroom"/>
    <img class="instagram-8" src="image/home/instagram/image8.jpg"
         width="170"
         height="170"
         alt="Four candles on white table with plant"/>

    <a class="btn btn-outlined btn-primary h-100 btn-text-center" href="about.php">About us</a>
  </div>
</div>