<div class="news-container"> <!--Background image-->
  <div class="description-container soft"> <!--Background color-->
    <h2 class="my-0"><b>Newest Collection</b> SOFT</h2>
    <p class="mb-6">
      Explore a new world of soft aromas from our collection SOFT filled with cotton, sea salt, mint and leaves.
      Relax with the help of candles that will create the best atmosphere in your house
    </p>
    <br/>
    {% include 'components/commonButton.html' with {
    'title': 'See Collection'} %}
  </div>
</div>