<div class="mt-10 mx-horizontal d-flex">
  <div class="w-100">
    <h2 class="mt-0 mb-4 text-uppercase">Fragrance Notes</h2>

    <div class="description-row"><span>Top: </span><span>Citrus, Lemongrass, Ginger</span></div>
    <div class="description-row mt-1"><span>Base: </span><span>Purslane, Nutmeg, Rainbow Eucalyptus</span></div>
    <div class="description-row mt-1"><span>Bottom: </span><span>Sea-Washed Amber, Cedarleaf</span></div>
    <p class="font-size-18 mt-3 pr-3">
      Slip away to a hidden cove where the moonlight sparkles on the water while notes of lemongrass, ginger,
      and woodsy botanicals enchant the senses.
    </p>
  </div>
  <img class="white-strawberry"
       src="image/product/white-strawberry.jpg"
       width="600"
       height="340"
       alt="Candle notes image"/>
</div>