<div class="products-grid-4 mt-5"><!--Cards-->
  {% include 'components/oneCard.html' with {
  'class': 'white-strawberry', src: 'image/candles/white-strawberry.jpg', alt: 'White Strawberry candle"', name:'WHITE STRAWBERRY',
  type: 'White', price: '24.00', sale_price: ''} %}

  {% include 'components/oneCard.html' with {
  'class': 'appalechia', src: 'image/candles/appalechia.jpg', alt: 'Appalechia candle', name:'APPALECHIA',
  type: 'Calm', price: '24.00', sale_price: ''} %}

  {% include 'components/oneCard.html' with {
  'class': 'pine-forrest', src: 'image/candles/pine-forrest.jpg', alt: 'Pine Forest candle', name:'PINE FOREST',
  type: 'Calm', price: '24.00', sale_price: '£29.99'} %}

  {% include 'components/oneCard.html' with {
  'class': 'snowy-morning', src: 'image/candles/snowy-morning.jpg', alt: 'Snowy Morning candle', name:'SNOWY MORNING',
  type: 'White', price: '24.00', sale_price: ''} %}

</div>
<div class="arrows-horizontal">
  <div class="rotate-180 background-inactive"></div>
  <div></div>
</div>