:root {
	--primary-color: #FDE5CE;
	--primary-main-color: #FEF0DE;
	--secondary-text-color: #8B8883;
	--primary-text-color: #1E130B;
	--inactive-color: #C5C2BB;
	--secondary-bold-color: #3F3D3A;
	--padding-horizontal: 10.625rem;
}

html {
	font-family: Montserrat, sans-serif;
	font-size: 1.5rem;
	color: var(--primary-text-color);
}

h1 {
	font-size: 3rem;
	font-weight: 500;
	text-transform: uppercase;
	color: transparent;
	text-shadow: -1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
	padding-left: var(--padding-horizontal);
}

@supports (-webkit-text-stroke: 1px black) {
	h1 {
		text-shadow: none;
		-webkit-text-stroke: 1px black;
	}
}

h2 {
	font-size: 2.25rem;
	font-weight: 300;
}

h3 {
	font-size: 1.5rem;
	font-weight: 400;
}

p {
	font-size: 1.125rem;
}


b {
	font-weight: 500 !important;
}

a {
	text-decoration: none;
	color: var(--primary-text-color);
}


.header {
	display: flex;
	padding: 0.625rem var(--padding-horizontal) 1.25rem;
	align-items: center;
	background-color: var(--primary-main-color);
}

.header > div:first-child {
	align-items: center;
	justify-content: normal;
}

.header > div:first-child > a {
	flex: 1 150px;
	overflow: hidden;
	white-space: nowrap;
}

.header .bag {
	margin-left: auto;
}


footer {
	margin-top: 6.25rem !important;
	background-color: var(--primary-main-color);
	padding-top: 3.125rem;
	padding-bottom: 3.75rem;
}

footer .share {
	display: flex;
	justify-content: center;
}

footer .share > img:not(:first-child) {
	margin-left: 5rem;
}


/*Margin 5 = 50px converted to rem*/
.mt-0, .my-0 {
	margin-top: 0 !important;
}

.mt-2 {
	margin-top: 1.25rem !important;
}

.mt-4 {
	margin-top: 2.5rem !important;
}

.mt-5 {
	margin-top: 3.125rem !important;
}

.mt-6 {
	margin-top: 3.75rem !important;
}

.mt-10 {
	margin-top: 6.25rem !important;
}

.mt-auto, .my-auto {
	margin-top: auto !important;
}


.mb-0, .my-0 {
	margin-bottom: 0 !important;
}

.mb-2 {
	margin-bottom: 1.25rem !important;
}

.mb-4 {
	margin-bottom: 2.5rem !important;
}

.mb-5 {
	margin-bottom: 3.125rem !important;
}

.mb-6 {
	margin-bottom: 3.75rem !important;
}

.mb-auto, .my-auto {
	margin-bottom: auto !important;
}


.ml-1, .mx-1 {
	margin-left: 0.625rem;
}

.ml-3 {
	margin-left: 1.875rem !important;
}

.ml-5 {
	margin-left: 3.125rem !important;
}

.ml-auto, .mx-auto {
	margin-left: auto !important;
}


.mr-1, .mx-1 {
	margin-right: 0.625rem;
}

.mr-3 {
	margin-right: 1.875rem !important;
}

.mr-auto, .mx-auto {
	margin-right: auto !important;
}


.background-inactive {
	background-color: var(--inactive-color) !important;
}


.d-flex {
	display: flex !important;
}

.flex-column {
	flex-direction: column !important;
}

.flex-row {
	flex-direction: row !important;
}


.w-100 {
	width: 100% !important;
}


.btn {
	text-transform: uppercase;
	text-align: center;
	color: black;
}

.btn-outlined {
	letter-spacing: 0.1rem;
	/*background: url(../image/button-background.svg);*/
}


.font-light {
	font-weight: 300 !important;
}

.font-size-24 {
	font-size: 1.5rem !important;
}


.rotate-90 {
	transform: rotate(90deg);
}

.rotate-180 {
	transform: rotate(-180deg);
}


.thin-border {
	border: var(--secondary-bold-color) 1px solid;
}


.arrows-horizontal {
	display: flex;
	padding: 0 var(--padding-horizontal);
}

.arrows-horizontal div {
	background-color: var(--secondary-text-color);
	-webkit-mask: url(../icon/page-arrow-horizontal.svg) no-repeat center;
	mask: url(../icon/page-arrow-horizontal.svg) no-repeat center;
	mask-position: right;
	-webkit-mask-position: right;
	margin-right: -2.125rem;
	width: 100%;
	height: 4.375rem;
}

.arrows-horizontal .rotate-180 {
	margin-left: -2.125rem;
}


/*Candles backgrounds*/
.candle-in-hands {
	background-color: #59503E;
}

.white-strawberry {
	background-color: #89878C;
}

.appalechia {
	background-color: #686F73;
}

.pine-forrest {
	background-color: #D9D9D9;
}

.showy-morning {
	background-color: #A69F92;
}

.cinnamon-nuts {
	background-color: #A67D65;
}

.french-cotton {
	background-color: #D8D9D7;
}

.green-apple {
	background-color: #BDBF75;
}

.mandarin {
	background-color: #F2A057;
}

.rose-white-musk {
	background-color: #848C8C;
}